<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <%= image_tag "logo.jpg", id: "logo" %>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <a href="" class="navbar-wagon-item navbar-wagon-link">Discover</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Eat my sushi</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">About</a>
  </div>
</div>
